In [ ]:
Variable code

In [3]:
a=4
b=3
print(a)
print(b)

c=4
d="stry"
print(c)
print(d)

#whate type of value 

A=2
B="shsg"
C=3.44

print(type(A))
print(type(B))
print(type(C))

4
3
4
stry
<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
#variable assinemultipal value 
x,y,z="banana " ,"mango","lici"
print (x)
print (y)
print (z)
#assin multipul value same line
X=Y=Z="orannge"
print(X)
print(Y)
print(Z)

banana
mango
lici
orannge
orannge
orannge

In [14]:
x=2
v=3
c=3
print(x + v + c)

#string one line
"""s="str"
h="rtry"
i="yyuy"
print(s,h,i)"""
#string ad to + operator
s="str"
h="rtry"
i="yyuy"
print( s + h + i)

8
strrtryyyuy

In [15]:
#function  declaration
j="shahed hsana"

def myfunc():
    print("this is string :",j)
myfunc()

this is string : shahed hsana

In [32]:
#random number 

import random
print (random.randrange(1,12))

11

In [36]:
#String f

z= "hello, banana"
print(z[1])
print(len(z))

e
13

In [39]:
#string sclicing 
b= "hello ,world,in"
print(b[2:])
print(b[2:10])
print(b[2:10:2])

llo ,world,in
llo ,wor
lo,o

In [49]:
#Negative string slicing 
c="hello,world,ind"
print(c[-13:-6:2])

lowr

In [51]:
#modify string 
b="hello world"
c="right now"
print (b.upper())
print(b.lower())
print()

HELLO WORLD
hello world

In [53]:
#splite ()
a="hello ,world"
b="shahed ,hasan"
print (a.split(","))
print(b.split(","))

['hello ', 'world']
['shahed ', 'hasan']

In [1]:
#list
#acces list
a= ["apple","banana","charri","lici","pinapple"]
print(a[2:])

['charri', 'lici', 'pinapple']

In [2]:
a= ["apple","banana","charri","lici","pinapple"]
print(a[:2])

['apple', 'banana']

In [9]:
a= ["apple","banana","charri","lici","pinapple"]
print(a[-3:-1])

['charri', 'lici']

In [1]:
#change of list item
a= ["apple","banana","charri","lici","pinapple"]
a[1:3]= ["shaheed","hasan"]
print(a)

['apple', 'shaheed', 'hasan', 'lici', 'pinapple']

In [2]:

a= ["apple","banana","charri","lici","pinapple"]
a[1:3]= ["shaheed"]
print(a)

['apple', 'shaheed', 'lici', 'pinapple']

In [5]:
#insert the list
a= ["apple","banana","charri","lici","pinapple"]
a.insert(1,"hsaa")
print(a)

['apple', 'hsaa', 'banana', 'charri', 'lici', 'pinapple']

In [8]:
a= ["apple","banana","charri","lici","pinapple"]
a.insert(3,"chowdhury")
print(a)

['apple', 'banana', 'charri', 'chowdhury', 'lici', 'pinapple']

In [10]:
#append  list
a= ["apple","banana","charri","lici","pinapple"]
a.append ("mango")
a.insert(2,"jackfrout")
print(a)

['apple', 'banana', 'jackfrout', 'charri', 'lici', 'pinapple', 'mango']

In [15]:
#Extend list

a= ["apple","banana","charri","lici","pinapple"]
b=["hello","call","jak"]
a.extend(b)
print(a)

['apple', 'banana', 'charri', 'lici', 'pinapple', 'hello', 'call', 'jak']

In [1]:
# remove item

a= ["apple","banana","charri","lici","pinapple"]
a.remove("lici")
print (a)

['apple', 'banana', 'charri', 'pinapple']

In [2]:
#remove value pop 
a= ["apple","banana","charri","lici","pinapple"]
a.pop(2)
print (a)

['apple', 'banana', 'lici', 'pinapple']

In [2]:
#Dictinary

a={"name":"shahed","id":1212,"sele":"hakim"}
print(a)

{'name': 'shahed', 'id': 1212, 'sele': 'hakim'}

In [2]:
#bhange dictinary
a={"name":"shahed","id":1212,"sele":"hakim"}
a= ["name"] ="hassn"
prinnt(a)

SyntaxError: cannot assign to literal (712565209.py, line 3)

In [4]:
#update vale
cell ={
    "name":"shahed",
    "add":"aowli",
    "phn":90977,
}
cell.update({"phn":0000})
print(cell)

{'name': 'shahed', 'add': 'aowli', 'phn': 0}

In [5]:
#Addd item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"]= "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [6]:
#update dic 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color" :"red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [7]:
#romove the item

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [10]:
#removed last item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

#del key word using 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

#dictinary clear
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford', 'year': 1964}
{}

In [12]:
#LOop dectionary 
import thisdict
for x in thisdict:
    print(thisdict)

ModuleNotFoundError: No module named 'thisdict'

In [17]:
#copy dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "id":12
}
mydict=thisdict.copy()
print(mydict)

#anader away  dict copy

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
otdict=dict(thisdict)
print(otdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'id': 12}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [23]:
# if  else

a=20
b=32
if a==b:
    print ("true")
else:
    print("false")    

    #not equal condtion

a=20
b=32
if a!=b:
    print("true")
else:
    print("false")    

#Gater ten condition
a=20
b=32

if a>b:
    print("true")
else:    
    print("false")

false
true
false

In [25]:
#elif condition
a=20
b=32

if a>b:
    print("a gater than b")
elif a==b:
    print("a eqal eqal b")
else:
    print("a less than b")

a less than b

In [31]:
#while condition
i=1
while i<5:
    i+=1
    print(i)


j=0
while  j<5:
    j+=1
    print(j)

2
3
4
5
1
2
3
4
5

In [33]:
#while condition
i=1
while i<6:
    print(i)
    if i==4:
        break
    i+=1

1
2
3
4

In [2]:
#function key
def myfun():
    print("hello function")
myfun()

hello function